sandbox-orchestrator-workflow-template.json
{
  "name": "AI Build Orchestrator – Sandbox First Deployment (Static Credentials v1.2)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "systemMessage": "You are the Architect Agent. Generate architecture and file plan based on PRD input.",
        "text": "={{$json[\"prd\"]}}"
      },
      "id": "2",
      "name": "Architect Agent",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": { "openAIApi": { "name": "OpenAI API" } }
    },
    {
      "parameters": {
        "url": "https://a10-runner.onrender.com/run/coder",
        "method": "POST",
        "sendBody": true,
        "jsonBody": {
          "repo": "a10-orchestrator-sandbox",
          "branch": "dev",
          "plan": "={{$json[\"data\"]}}"
        }
      },
      "id": "3",
      "name": "A10 Coder Agent Runner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "https://a10-runner.onrender.com/run/tester",
        "method": "POST",
        "sendBody": true,
        "jsonBody": { "repo": "a10-orchestrator-sandbox", "branch": "dev" }
      },
      "id": "4",
      "name": "A10 Tester Agent Runner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "systemMessage": "You are the Quality Guardian Agent. Review lint/test report vs CODE_STANDARDS.md and return pass/fail JSON.",
        "text": "Review results: {{$json[\"tester_logs\"]}}"
      },
      "id": "5",
      "name": "Quality Guardian Agent",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 2,
      "position": [1400, 300],
      "credentials": { "openAIApi": { "name": "OpenAI API" } }
    },
    {
      "parameters": {
        "conditions": { "boolean": [ { "value1": "={{$json[\"status\"] == 'pass'}}" } ] }
      },
      "id": "6",
      "name": "IF Quality Check Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "url": "https://a10-runner.onrender.com/run/integrator",
        "method": "POST",
        "sendBody": true,
        "jsonBody": {
          "repo": "a10-orchestrator-sandbox",
          "branch": "dev",
          "action": "push"
        }
      },
      "id": "7",
      "name": "A10 Integrator (Sandbox)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": "NovelAISolutions",
        "repository": "a10-orchestrator-sandbox",
        "title": "Quality check failed",
        "body": "The Quality Guardian Agent found issues. See Tester logs."
      },
      "id": "8",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 2,
      "position": [2000, 400],
      "credentials": { "githubApi": { "name": "GitHub Token" } }
    },
    {
      "parameters": {
        "message": "Quality check failed. Review GitHub issue."
      },
      "id": "9",
      "name": "Slack Notify Developer",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [2300, 400],
      "credentials": { "slackApi": { "name": "Slack Webhook" } }
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "systemMessage": "You are the Supervisor Agent. Summarize sandbox deployment results and provide preview URL.",
        "text": "={{$json}}"
      },
      "id": "10",
      "name": "Supervisor Agent (Sandbox)",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 2,
      "position": [2300, 200],
      "credentials": { "openAIApi": { "name": "OpenAI API" } }
    },
    {
      "parameters": {},
      "id": "11",
      "name": "Manual Approval: Promote to Prod?",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [2600, 200]
    },
    {
      "parameters": {
        "url": "https://a10-runner.onrender.com/run/integrator",
        "method": "POST",
        "sendBody": true,
        "jsonBody": {
          "repo": "a10-orchestrator-sandbox",
          "merge": "dev→main"
        }
      },
      "id": "12",
      "name": "A10 Integrator (Production)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2900, 200]
    },
    {
      "parameters": {
        "url": "https://a10-orchestrator-sandbox.vercel.app/api/health",
        "method": "GET"
      },
      "id": "13",
      "name": "HealthCheck Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3200, 200]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "systemMessage": "You are the final Supervisor Agent. Summarize production release results, include URLs and commit hash.",
        "text": "={{$json}}"
      },
      "id": "14",
      "name": "Supervisor Agent (Production)",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 2,
      "position": [3500, 200],
      "credentials": { "openAIApi": { "name": "OpenAI API" } }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Architect Agent", "type": "main", "index": 0 }]]
    },
    "Architect Agent": {
      "main": [[{ "node": "A10 Coder Agent Runner", "type": "main", "index": 0 }]]
    },
    "A10 Coder Agent Runner": {
      "main": [[{ "node": "A10 Tester Agent Runner", "type": "main", "index": 0 }]]
    },
    "A10 Tester Agent Runner": {
      "main": [[{ "node": "Quality Guardian Agent", "type": "main", "index": 0 }]]
    },
    "Quality Guardian Agent": {
      "main": [[{ "node": "IF Quality Check Passed?", "type": "main", "index": 0 }]]
    },
    "IF Quality Check Passed?": {
      "main": [
        [{ "node": "A10 Integrator (Sandbox)", "type": "main", "index": 0 }],
        [{ "node": "Create GitHub Issue", "type": "main", "index": 0 }]
      ]
    },
    "A10 Integrator (Sandbox)": {
      "main": [[{ "node": "Supervisor Agent (Sandbox)", "type": "main", "index": 0 }]]
    },
    "Supervisor Agent (Sandbox)": {
      "main": [[{ "node": "Manual Approval: Promote to Prod?", "type": "main", "index": 0 }]]
    },
    "Manual Approval: Promote to Prod?": {
      "main": [[{ "node": "A10 Integrator (Production)", "type": "main", "index": 0 }]]
    },
    "A10 Integrator (Production)": {
      "main": [[{ "node": "HealthCheck Agent", "type": "main", "index": 0 }]]
    },
    "HealthCheck Agent": {
      "main": [[{ "node": "Supervisor Agent (Production)", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "timezone": "UTC" }
}
